<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.email %>.</p>
    <p>Today's quote is:</p>
    <p>
        <%= @quote.quote %>
    </p>
  </body>
</html>