<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome <%= @user.email %></p>
    <p>
      You have successfully subscribered to our daily quotes.
    </p>
    <p>Thanks for subscribing with us and have a great day!</p>
  </body>
</html>